/* FONTS AND TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Julius+Sans+One|Raleway:400,700');


body, html {
	font-size: 24px;
	color: #000;
    height: 100%;
    margin: 0;
    padding: 0;
}

.bg {
	background-color: #cdcdcd;
}
h1, h2 {
	text-align: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	color: #d4a897;
	margin-left: 1px;
}
h2 {
	font-size: 25px;
	font-family: 'Carrois Gothic SC', sans-serif;
}

p {
	font-size: 12px;
}

/* IMAGES */
img {
	max-width: 100%;

}
.box {
	border-width: 1px;
	border-style: dashed;
	bottom: 20px;
}

/*SLIDER*/
.slider {
 max-height: 1000px;
 max-width: 820px;
 margin: 0 auto;
 overflow: hidden;
 border-radius: 4px;
}

.slider ul {

 width: 1000%;
 height: auto;
 position: relative;
 list-style: none;
 left: 0;
 margin: 0;
 padding: 0;
 line-height: 0;
 -moz-animation:slide-animation 5s infinite;
 -webkit-animation:slide-animation 5s infinite;
}

.slider ul:hover {
 -moz-animation-play-state:paused;
 -webkit-animation-play-state:paused;
}

.slider li {
 width: 10%;
 list-style: none;
 float: left;
 margin: 0;
 padding: 0;
}

img {
 max-width: 100%;
 border-radius: 4px;
}

span {
 position: relative;
 height: 50px;
 display: block;
 font-size: 0.8em;
 bottom: 0;
 padding: 0.5px 20px 0px 20px;
 margin-top: -50px;
 overflow: hidden;
 background-color:rgba(54,44,48,0.6);
 color: #fcfcfc;
 text-shadow: 0px 1px 1px #9d9d9d;
 font-weight: normal;
 border-radius: 4px;
}

@-webkit-keyframes slide-animation {
 1% {left: 0%; opacity: 1;}
 18% {left: 0%; opacity: 1}
 19% {opacity: 0.2;}
 20% {left: -100%; opacity: 1;}
 58% {left: -100%; opacity: 1;}
 59% {opacity: 0.2;}
 60% {left: -200%; opacity: 1;}
 98% {left: -200%; opacity: 1;}
 99% {opacity: 0.5;}
 100% {left: 0%;}
}

@-moz-keyframes slide-animation {
 1% {left: 0%; opacity: 1;}
 18% {left: 0%; opacity: 1}
 19% {opacity: 0.2;}
 20% {left: -100%; opacity: 1;}
 58% {left: -100%; opacity: 1;}
 59% {opacity: 0.2;}
 60% {left: -200%; opacity: 1;}
 98% {left: -200%; opacity: 1;}
 99% {opacity: 0.5;}
 100% {left: 0%;}
}

/*IMG OVERLAY*/
.container {
    position: relative;
    width: 20%;
    float: left;
    top: 10px;
    left: 150px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #7fffd4;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


/* BASIC LAYOUT */
header {
	background-color: white;	
}
#logo {
	text-align: center;
	padding-top: 20px;
	max-width: 80px;
	max-height: 80px;
	margin-left: 630px;
	margin-top: 40px;
	margin-bottom: 40px;
}
body {
	font-size: 2px;
	font-family: 'Raleway', sans-serif;
	font-style: bold;
}

section {
	font-size: 12px; 
	color: #000;
}
footer {
	text-transform: capitalize;
	text-align: center;
	font-size: 12px;
	background-color: #fff;
	color: #000;
	margin-top: 50px;
	margin-bottom: 10px;
}
a {
	color: black;
	text-transform: none;
}
a:hover {
	color: #d4a897;
	text-transform: none;
}
.hover-opacity
{
	background-color: color: #d4a897;
}
/* NAV */
/* Add a black background color to the top navigation */
nav {
	text-align: center;
	margin: 0px 0px;
	background-color: white;
	font-family: 'Carrois Gothic SC', sans-serif; 
	font-size: 50px;
	color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	display:inline-block;
	}

nav a {
	display:block;
	padding:8px 50px;	
	color:black;
	font-size:12px;
	line-height: 50px;
	text-decoration:none;
}

nav a:hover { 
	background-color: #d4a897;
	color: white;

}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute; 
	top: 80px; /* the height of the main nav */
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
	background-color: white;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width: 170px;
	float: none;
	display: list-item;
	position: relative;
}

/* Second, Third and more Tiers	*/
nav ul ul ul li {
	position: relative;
	top: -60px; 
	left: 170px;
}
/* ALIGNMENT */

/** FLOAT **/
.left {
	float: left;
}
.right {
	float: right;
}

/** CLEAR **/
.clearleft {
	clear: left;
}
.clearright {
	clear: right;
}
.clearfix {
	clear: both;
}
/** TEXT **/
.textleft {
	text-align: left;
}
.textright {
	text-align: right;
}
.textcenter {
	text-align: center;
}


/* GRID LAYOUT AND OFFSET */
.span1 {
	margin: 1.0416666667%;
	width: 6.25%;
}
.span2 {
	margin: 1.0416666667%;
	width: 14.5833333333%;
}
.span3 {
	margin: 1.0416666667%;
	width: 22.9166666667%;
}
.span4 {
	margin: 1.0416666667%;
	width: 31.25%;
}
.span5 {
	margin: 1.0416666667%;
	width: 39.5833333333%;
}
.span6 {
	margin: 1.0416666667%;
	width: 47.9166666667%;
}
.span7 {
	margin: 1.0416666667%;
	width: 56.25%;
}
.span8 {
	margin: 1.0416666667%;
	width: 64.5833333333%;
}
.span9 {
	margin: 1.0416666667%;
	width: 72.9166666667%;
}
.span10 {
	margin: 1.0416666667%;
	width: 81.25%;
}
.span11 {
	margin: 1.0416666667%;
	width: 89.5833333333%;
}
.span12 {
	margin: 1.0416666667%;
	width: 97.9166666667%;
}
.offset1 {
	margin-left: 8.3333333%;
}
.offset2 {
	margin-left: 16.6666667%;
}
.offset3 {
	margin-left: 25%;
}
.offset4 {
	margin-left: 33.3333333%;
}
.offset5 {
	margin-left: 41.6666667%;
}
.offset6 {
	margin-left: 50%;
}
.offset7 {
	margin-left: 58.3333333%;
}
.offset8 {
	margin-left: 66.6666667%;
}
.offset9 {
	margin-left: 75%;
}
.offset10 {
	margin-left: 83.3333333%;
}
.offset11 {
	margin-left: 91.6666667%;
}
.offset12 {
	margin-left: 100%;
}


/*ALBUM*/
.lb-album{
	width: 900px;
	margin: 0 auto;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
.lb-album li{
	float: left;
	margin: 5px;
	position: relative;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a{
	width: 150px;
	height: 150px;
	position: relative;
	padding: 10px;
	background: #f1d2c2;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px #847954 inset;
	border-radius: 4px;
}
.lb-album li > a span{
	position: absolute;
	width: 150px;
	height: 150px;
	top: 10px;
	left: 10px;
	text-align: center;
	line-height: 150px;
	color: rgba(27,54,81,0.8);
	text-shadow: 0px 1px 1px #ffffff;
	font-size: 24px;
	opacity: 0;
	background: 
		radial-gradient(
			center, 
			ellipse cover, 
			#ffffff 0%,
			#e3d9c3 100%
		);
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: 
		radial-gradient(
			center, 
			ellipse cover, 
			#ffffff 0%,
			#e3d9c3 100%
		);
}
.lb-overlay > div{
	position: relative;
	color: #243652;
	width: 550px;
	height: 80px;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px #ffffff;
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid #243652;
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: 'Carrois Gothic SC', sans-serif;      
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
	background: #243652;
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: 50px;
	height: 23px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	box-shadow: 0px 1px 2px #000000;
}
.lb-overlay img{
	max-height: 100%;
	position: relative;
	opacity: 0;
	box-shadow: 0px 2px 7px #000000;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 24px;
	height: 25px;
	left: 50%;
	opacity: 0.8;
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
}
.lb-prev{
	margin-left: -30px;
	background: transparent url(images/arrow_next.png) no-repeat top left;
}
.lb-next{
	margin-left: 6px;
	background: transparent url(images/arrow_previous.png) no-repeat top right;
}

/*GALLERY*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}